<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.cbs.dao.BoardDao">
	<select id="getList" resultType="com.green.cbs.dto.BoardDto">
		SELECT * FROM boards WHERE reader is NULL or reader = ''; 
	</select>
	<select id="get" resultType="com.green.cbs.dto.BoardDto">
		SELECT * FROM boards WHERE bno = #{param1}
	</select>
	<select id="getForMeList"
		resultType="com.green.cbs.dto.BoardDto">
		SELECT * FROM boards WHERE reader = #{param1}
	</select>
	<insert id="write">
		INSERT INTO boards (title, content, writer, reader) VALUES
		(#{boardDto.title}, #{boardDto.content}, #{boardDto.writer},
		#{boardDto.reader})
	</insert>
	<delete id="delete">
		DELETE FROM boards WHERE =#{param1}
	</delete>
</mapper>